.text {
    font-family: "Arial";
    font-weight: bold;
}

.navBar {
}


.GreenButton {
    border: none;
    border-radius: 15px;
    background: #56BF84;
    color: white;
    padding: .2vw .5vw;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-size: 2vw;
    cursor: pointer;
  }

  /*Source: http://androidcss.com/css-shape-icon-generator/# */

  .Arrow{
    display:inline-block;
    position:relative;
    width: 7vw; height: 7vw;
    background-color:#096073;
    border-radius:50%;
    border:none;
    cursor: pointer;
}

.Arrow:before{
    position:absolute;
    content:'';
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:calc(33.33%);
    height:calc(33.33%);
    background:rgba(0,0,0,0);
    border:calc(100px/10) solid #fff;
    border-right:none;
    border-top:none;
    transform:rotate(135deg);
    box-sizing:content-box
}

.Arrow:after{
    position:absolute;
    content:'';
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:calc(10%);
    height:calc(49%);
    background-color:#fff;
    box-sizing:content-box
}


.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}
*/

/*
.left {
    width: 40%;
}

.middleLeft {
    min-height: 10%;
}

.middleRight {
    min-height: 40%;
}

.right {
    min-height: 10%;
}
*/