.text {
    font-family: "Arial";
    font-weight: bold;
    text-align: center;
    }
    .header {
    text-align: center;
    }
    /* Format the bar at the top of each page
    source: https://www.w3schools.com/howto/howto_js_topnav.asp*/
    .topNav {
        background-color: #096073;
        overflow: hidden;
    }
    .topNav a {
        float: left;
        color: white;
        text-align: left;
        padding: 1% 2%;
        text-decoration: none;
        font-size: 5%;
    }
    body{
        margin:0;
        padding: 0;
    }
    .content .h2{
        display: block;
        text-align: center;
    }
    .Arrow{
    display:inline-block;
    position:relative;
    width: 6vw; height: 6vw;
    background-color:#096073;
    border-radius:50%;
    border:none;
    cursor: pointer;
}

.Arrow:before{
    position:absolute;
    content:'';
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:calc(33.33%);
    height:calc(33.33%);
    background:rgba(0,0,0,0);
    border:calc(5.5vw/10) solid white;
    border-right:none;
    border-top:none;
    transform:rotate(135deg);
    box-sizing:content-box
}

.Arrow:after{
    position:absolute;
    content:'';
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:calc(10%);
    height:calc(49%);
    background-color:#fff;
    box-sizing:content-box
}
/* Format the flex containers */
.flex-container {
    display: flex;
    justify-content: center;
    /*align-content: flex-start;*/
    align-items: center;
    margin-right: 0;
    text-align: center;
}
/* Format the download button */
.Download{
    display:inline-block;
    position:relative;
    width:3vw;
    height:3vw;
    background:rgba(0,0,0,0);
    border:none;
    border-bottom:calc(3vw/8) solid#08A696;
    box-sizing:content-box;
    cursor: pointer;
}

.Download:before{
    position:absolute;
    content:'';
    margin:auto;top:0;
    bottom:calc(-1*3vw/3);
    left:0;
    right:0;
    width:0;
    height:0;
    border-top:calc(3vw/3) solid #08A696;
    border-left:calc(3vw/3) solid transparent;
    border-right:calc(3vw/3) solid transparent
}

.Download:after{
    position:absolute;
    content:'';
    margin:auto;
    top:0;
    bottom:calc(3vw/6);
    left:0;
    right:0;
    width:calc(3vw/3);
    height:calc(3vw/3);
    background-color:#08A696}
